article {
  padding-top: 100px;}
head {
  background-color: lightblue;
  font-family: Tahoma, Verdana, sans-serif;}
p {
  font-family: Tahoma, Verdana, sans-serif;
  color: #131830;}
h1 {
  font-family: Tahoma, Verdana, sans-serif;}
.me {
  width: 380px;
  height: 500px;}
