article {
  padding-top: 5px;}
header {
  background-color: lightblue;
  font-family: Tahoma, Verdana, sans-serif;}
p {
  font-family: Tahoma, Verdana, sans-serif;
  color: #131830;}
h1 {
  font-family: Tahoma, Verdana, sans-serif;}
.me {
  width: 46px;
  height: 44px;}
