article {
  padding-top: 100px;}
head {
  background-color: rgb(178, 191, 237);
  font-family: Tahoma, Verdana, sans-serif;}
body {
  background-color: rgb(178, 191, 237);}
p {
  font-family: Tahoma, Verdana, sans-serif;
  color: rgb(19, 24, 48);
  font-size: 24px;
  max-width: 800px;}
.intro {
  margin-left: 480px;
  padding-top: -100px;}
h1 {
  font-family: Tahoma, Verdana, sans-serif;
  color: rgb(19, 24, 48);
  text-align: center;
  font-size: 30px;}
.me {
  width: 250px;
  height: 330px;
  margin-left: 200px;}
